<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
        
        <link rel="stylesheet" href="{% static 'styles.css' %}"/>
        <link href="https://file.myfontastic.com/F3EYbr2mgJRrppNqNEXyEM/icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="menu-container">           

            <a id="ref" href="{% url 'index' %}"><span class="icon-shop"></span></a>
            <label id="btn-menu" class="icon-bars"></label>
            <nav id="navegador">
                <ul>
            
                    {% if user.is_anonymous %} 
                    <li><a href="{% url 'login' %}" class="item-link">Iniciar Sesion</a></li>
                    <li><a href="{% url 'signup' %}" class="item-link">Registrate</a></li>       
                    {% endif %}    
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}" class="item-link">Inicio</a></li>
                    <li><a href="{% url 'listaProducto' %}" class="item-link">Lista Productos</a></li>
                    <li><a href="{% url 'logout' %}" class="item-link">Cerrar Sesion</a></li>
                    {% endif %}   
                    {% if user.is_superuser %}
                    <li><a href="{% url 'registroProducto' %}" class="item-link">Registrar Producto</a></li>
                                      
                    <li><a href="/admin/login/?next=/admin/" class="item-link">Administracion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class= "carousel-container">
        <div class="carousel slide"></div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{% static 'img/l1.jpg' %}" alt="Chania">
                <div class="carousel-caption">
                  <h3>Reseña</h3>
                  <p>«Hace muchos años —1976— estuve en Tucson, Arizona, 
                      y en el planetario de la ciudad había un ciclo de 
                      charlas de divulgación. Una de ellas me llamó poderosamente
                       la atención. La ofrecía el astrónomo de la Universidad de 
                       Arizona, Nick Woolf, y se titulaba «The Universe: I can 
                       Feel it in my Bones». El título era tan provocativo que me
                        inspiró para una charla pública que, ya de vuelta en Chile,
                         he dictado durante años: «Somos polvo de estrellas». 
                         A miles de jóvenes y no tan jóvenes les he contado lo que 
                         yo considero una de las más grandes historias de la 
                         astronomía. Carl Sagan decía que somos «material estelar»;
                          María Teresa Ruiz, en Chile, hace unos años nos dijo
                           en su libro que somos «hijos de las estrellas». La
                            historia cambia de nombre pero el contenido es el mismo:
                             todos los átomos que componen su cuerpo, amigo lector,                             
                             y el mío, salvo el hidrógeno, han sido fabricados al interior
                              de una estrella». </p>
                </div>
              </div>
          
              <div class="item">
                <img src="{% static 'img/l2.jpg' %}" alt="Chicago">
                <div class="carousel-caption">
                  <h3>Reseña</h3>
                  <p>¡Hola, amigos! Soy Alex Hirsch, el creador de Gravity Falls, 
                    de las voces del Tío Stan, Soos, Bill Clave, el Viejo McGucket y, 
                    probablemente, de tus peores pesadillas.  Si eres fan de la serie,
                     o simplemente distrutas la confusión, la diversión y el terror
                      (en ese orden), entonces ¡eres muy afortunado! Tienes en tu poder
                    el codiciado diario del Autor: un tesoro oculto de 288 páginas a 
                    todo color repleto de secretos, criaturas y misterios nunca antes
                        revelados en el tranquilo pueblo de Gravity Falls. Gracias a él,
                         conocerás la trágica historia de Ford, el paradero de Blendín, 
                         la Dimensión 52 y aprenderás a atrapar un cuadritorrinco. 
                          Hay muchas fuerzas oscuras que desearían tener este libro 
                          en sus manos, así que ¡mantente siempre alerta por si alguien
                           quiere arrebatártelo (en especial si tiene ojos amarillos y brillantes)!
                             Y, lo más importante, diviértete. Después de todo, Gravity
                              Falls no existe en realidad. ¿O sí? Tu amigo, Alex Hirsch</p>
                </div>
              </div>
          
              <div class="item">
                <img src="{% static 'img/l3.jpg' %}" alt="New York">
                <div class="carousel-caption">
                  <h3>Reseña</h3>
                  <p>Con una carrera en ascenso, que comenzó el 2016 con
                       solo 15 años en la plataforma Musical.ly. (ahora TIK TOK),
                        su éxito trasciende las fronteras sumando millones de 
                        visualizaciones en  sus distintas redes sociales en América 
                        y España.Con una carrera en ascenso, que comenzó el 2016
                         con solo 15 años en la plataforma Musical.ly. (ahora TIK TOK),
                          su éxito trasciende las fronteras sumando millones de 
                          visualizaciones en  sus distintas redes sociales en América y España.</p>
                </div>
              </div>

              <div class="item">
                    <img src="{% static 'img/l4.jpg' %}" alt="New York">
                    <div class="carousel-caption">
                      <h3>Reseña</h3>
                      <p>En esta esclarecedora obra el gran físico británico
                            Stephen Hawking nos ofrece una historia del universo 
                            del big bang a los Agujeros negros. En siete pasos 
                            Hawking logra explicar la historia del universo desde 
                            las primeras teorías del mundo griego y de la época 
                            medieval hasta las más complejas teorías actuales siempre
                             con su característico tono didáctico y accesible a
                              todos los públicos. Newton Einstein la mecánica cuántica 
                              los agujeros negros y la teoría de la gran unificación
                               desfilan por estas páginas acercando al lector los misterios 
                               del universo. Un libro exquisito. En definitiva auténtica
                                poesía del infinito.</p>
                    </div>
                  </div>

                  <div class="item">
                        <img src="{% static 'img/l5.jpg' %}" alt="New York">
                        <div class="carousel-caption">
                          <h3>Reseña</h3>
                          <p>José Maza, primer bestseller en divulgación científica de Chile,
                               explora en Eclip- ses -su último libro- el fenómeno de 
                               superposición solar y lunar de ambos  cuerpos celestes desde 
                               una breve genealogía del fenómeno, las diferencias y similitudes
                                entre ambos procesos y cómo se desarrollarán los eclipses de 
                                sol durante los años 2019 y 2020.</p>
                        </div>
                      </div>

            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
    
        
        <script src="{% static 'js/javamenu.js' %}"></script>
        
    </body>
</html>